<a href="https://colab.research.google.com/github/smsidekick/tent_freeze/blob/sm_dev/GCP_Python_code_snippet_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#YOU NEED TO MAKE YOUR OWN COPY OF THIS DOCUMENT TO RUN CODE!
*Go to File > Save a Copy in Drive*

## Read in BigQuery Data with Magics

In [ ]:
from google.colab import auth
from google.cloud.bigquery import magics

# Specify your GCP Project
project_id = "env-617-class-sandbox"
!gcloud config set project {project_id}
magics.context.project = 'env-617-class-sandbox'
auth.authenticate_user()

Updated property [core/project].

In [ ]:
# BQ query using a magic command
# Magic commands are code shortcuts (they vary slightly by environment)
# Two %% mean the entire cell is under the influence of the magic command (vs. just the line)
%%bigquery df 

SELECT 
Borough,
COUNT(*) AS n_bins
FROM `env-617-class-sandbox.recycling_data.nyc_public_recycling_bins`
GROUP BY Borough

In [ ]:
df.head()

     Borough  n_bins
0      Bronx     108
1     Queens     117
2   Brooklyn      89
3  Brooklyn        5
4  Manhattan     184

## Read in BigQuery Data with Client Library

In [ ]:
from google.colab import auth
from google.cloud import bigquery

In [ ]:

# Specify your GCP Project
project_id = "env-617-class-sandbox"
auth.authenticate_user()

client = bigquery.Client(project=project_id)

In [ ]:
sql = '''
SELECT
Borough,
COUNT(*) AS n_bins
FROM `env-617-class-sandbox.recycling_data.nyc_public_recycling_bins`
GROUP BY Borough
'''

df = client.query(sql).to_dataframe()

df.head()

     Borough  n_bins
0      Bronx     108
1     Queens     117
2   Brooklyn      89
3  Brooklyn        5
4  Manhattan     184

## Write Dataframe Back to BigQuery Table with Client Library

In [ ]:
df.to_gbq('recycling_data.nyc_public_recycling_bins_by_borough', project_id=project_id)

1it [00:03,  3.45s/it]

In [ ]:
# TEST TEST TEST

In [ ]:
# This is SMCGD2P test